body {
    background-color: lightgrey;
}

h1 {
    color: darkred;
    font-family: courier;
    font-size: 300%;
    padding: 30px;
    margin: 50px;
}

p {
    color: red;
    font-family: "Times New Roman";
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

.image {
    background-image: url(images/car.jpg);
    width: 150px;
    height: 150px;
}


