<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Route ... find your best way</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            border-collapse: collapse;
        }

        th {
            padding: 5px;
            text-align: left;
        }

        td {
            border: 1px solid black;
            padding: 5px;
            text-align: left;
        }
    </style>
</head>

<body>

<h1>Route ... find your best way!</h1>

<img src="../static/images/car.jpg" alt="Car" style="width:128px;height:128px">

<h3>Dodaj miejsca i wyznacz najkrótszą trasę. Jako pierwsze miejsce podaj punkt startowy na Twojej trasie (będący
    jednocześnie punktem końcowym). </h3>

<ol start="0" id="list"></ol>

<button id="submit" type="submit">Wyznacz trasę</button>
<button id="addPoint">Dodaj miejsce</button>
<button id='cancelPoint'>Usuń ostatnio dodane miejsce</button>

<h3 id="title1"></h3>
<h2 id="pointsOrder" style="color: #339966"></h2>
<h3 id="title2"></h3>
<h2 id="length" style="color: #339966"></h2>
<h3 id="errors"></h3>

<script type="text/javascript">
    let butEl = document.getElementById("addPoint");
    butEl.addEventListener('click', function () {
        let newElement = document.createElement('li');
        newElement.innerHTML = '<form><fieldset>\n' +
            '<legend>Punkt:</legend>' +
            '<label for="street">Ulica:</label><br>' +
            '<input type="text" name="street" value=""><br>' +
            '<label for="streetNumber">Numer domu:</label><br>' +
            '<input type="text" name="streetNumber" value=""><br>' +
            '<label for="city">Miasto:</label><br>' +
            '<input type="text" name="city" value=""><br>' +
            '<label for="postCode">Kod pocztowy:</label><br>' +
            '<input type="text" name="postCode" value="" pattern="[0-9]{2}-[0-9]{3}" required><br>' +
            '<label for="country">Państwo:</label><br>' +
            '<input type="text" name="country" value=""><br><br>' +
            '<input type="reset" value="Wyczyść wszystkie pola">' +
            '</fieldset></form>';

        let listEl = document.getElementById("list");
        listEl.appendChild(newElement);
    })

    let butEl2 = document.getElementById("cancelPoint");
    butEl2.addEventListener('click', function () {
        let listEl = document.getElementById("list");
        let lastChildEl = listEl.lastChild;
        if (lastChildEl) {
            listEl.removeChild(lastChildEl);
        }
    })
    const errorPostCode = "W formularzu podano zły format kodu pocztowego.";
    const errorLetters = "W polach ulica, miasto i państwo mogą znajdować się jedynie litery.";
    const errorNumbers = "W polu numer ulicy należy wpisać liczbę.";

    let butEl3 = document.getElementById("submit");
    butEl3.addEventListener('click', function () {
        let listOfPoints = document.getElementById('list').querySelectorAll('li');
        let result = [];
        let errors = [];

        for (let elem of listOfPoints) {
            let point = {};
            let inputs = elem.querySelectorAll('input');

            for (let input of inputs) {
                switch (input.name) {
                    case 'street':
                        if (testIfOnlyLetters(input.value)) {
                            point.street = input.value;
                        } else {
                            errors.push(errorLetters);
                        }
                        break;
                    case 'streetNumber':
                        if (testIfOnlyNumbers(input.value)) {
                            point.streetNumber = input.value;
                        } else {
                            errors.push(errorNumbers);
                        }
                        break;
                    case 'city':
                        if (testIfOnlyLetters(input.value)) {
                            point.city = input.value;
                        } else {
                            errors.push(errorLetters);
                        }
                        break;
                    case 'postCode':
                        if (testPostCode(input.value)) {
                            point.postCode = input.value;
                        } else {
                            errors.push(errorPostCode);
                        }
                        break;
                    case 'country':
                        if (testIfOnlyLetters(input.value)) {
                            point.country = input.value;
                        } else {
                            errors.push(errorLetters);
                        }
                        break;
                }

                result.push(point);
            }
        }
        if (errors.length != 0) {
            const uniqueErrors = new Set(errors);
            let errorsResult = '';
            for (let error of uniqueErrors){
                errorsResult = errorsResult + error + "<br>";
            }
            document.getElementById("errors").innerHTML = errorsResult.toString();
        } else {
            const url = "http://localhost:8082/route";
            const params = {
                headers: {
                    "content-type": "application/json; charset=UTF-8"
                },
                body: JSON.stringify(result),
                method: "POST"
            };
            fetch(url, params)
                .then(async data => {
                    let result = await data.json();
                    if (result.errorMessage != null){
                        document.getElementById("length").innerHTML = result.errorMessage;
                    } else {
                    let orderString = '';
                    orderString = orderString + result.orderOfPoints[0];
                    for (let i = 1; i < result.orderOfPoints.length; i++) {
                        orderString = orderString + " -- > " + result.orderOfPoints[i];
                    }
                    document.getElementById("title1").innerHTML = "Kolejność punktów:<br>";
                    document.getElementById("pointsOrder").innerHTML = orderString;
                    document.getElementById("title2").innerHTML = "Długośc trasy (km):<br>";
                    document.getElementById("length").innerHTML = result.numberOfKilometers / 1000;
                }})
                .catch((err) => {
                    console.log(err)
                })
        }

        function testPostCode(postCode) {
            const regex = new RegExp('^[0-9]{2}-[0-9]{3}$');
            return regex.test(postCode);
        }

        function testIfOnlyLetters(string) {
            const regex = new RegExp('[a-zA-Z]');
            return regex.test(string);
        }

        function testIfOnlyNumbers(number) {
            const regex = new RegExp('[0-9]');
            return regex.test(number);
        }
    })

</script>

</body>
</html>